body{
    
    background-image: url(https://staticdelivery.nexusmods.com/images/110/259193-1365875970.jpg)
}

h1{
    background-color:grey;
}

.instructions{
    background-color: white;
    opacity: 0.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.win-lose-box{
    background-color: white;
    opacity: 0.5;
    width: 125px;
    height: 125px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.randomNumberBox{
    background-color: grey;
    opacity: 0.75;
    color:black;
    width: 125px;
    height: 125px;
    font-size: 45px;
    text-align: center;
    
}



#totalScore{
    background-color: grey;
    opacity: 0.75;
    color: black;
    font-size: 40px;
    text-align: center;
    width: 125px;
    height:125px;
    
    
}

#yourGuess{
    color:white;
    font-size: 20px;
}
#targetNumber{
    color:white;
    font-size: 20px;
}